<!doctype html>
<html lang="de-CH">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "studio franklin | grafik & branding" %></title>
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:image" content="<%= current_page.data.image %>" />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="News">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link rel="stylesheet" href="https://use.typekit.net/iya3wil.css">
  </head>
  <body>
    <%= partial 'partials/header'%>
    <main>
      <%= yield %>
    </main>
    <%= partial 'partials/footer'%>
  </body>
</html>
